/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Estilo del encabezado */
header {
    background-color:white;
    color: #6a0dad;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

.logo h1 {
    display: inline;
    font-size: 24px;
}

.logo p {
    margin: 0;
    font-size: 14px;
}

nav a {
    color:#6a0dad ;
    text-decoration: none;
    margin: 0 10px;
}

nav img {
    width: 30px;
    border-radius: 50%;
}

/* Estilo del contenido principal */
main {
    padding: 20px;
}

.resultados {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.resultados h2 {
    margin-top: 0;
}

.resultado-estado {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.resultado-estado img {
    width: 100px;
    margin-right: 20px;
}

.opciones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.opcion {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
}

.opcion img {
    width: 100px;
    margin-bottom: 10px;
}

.acciones {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.acciones button {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo del pie de página */
footer {
    background-color: #6a0dad;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.contact, .social-media, .about {
    display: flex;
    align-items: center;
}

.contact a, .about a {
    color:white;
    text-decoration: none;
    margin-right: 15px;
}

.social-media a {
    color: white;
    margin: 0 10px;
}

.social-media img {
    width: 25px;
}
