/* estilos generales para el body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* estilo para el main */
main {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* estilo para el section */
section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

/* estilo para el h2 en section */
section h2 {
    margin-top: 0;
}

/* estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* estilo para los labels */
label {
    font-weight: bold;
}

/* estilos para inputs y textarea */
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

/* estilo para el botón */
button {
    background-color: #59009A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

/* estilos para el footer */
.footer {
    background-color: #59009A; /* Color morado */
    color: #fff;
    padding: 20px;
    display: flex; /* Cambiado a flex para evitar columnas */
    align-items: center; /* Centrar los elementos */
}

/* Opcional: ajusta los márgenes para que se vea mejor en móviles */
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
}

.footer-links > div {
    margin: 10px; /* Espaciado entre los elementos */
}



/* Responsividad para dispositivos pequeños */
@media (max-width: 600px) {
    .footer {
        flex-direction: row; /* Mantiene el diseño en fila */
        justify-content: space-between; /* Distribuye el contenido */
        flex-wrap: nowrap; /* Evita que el contenido se ajuste en columna */
    }
  
    .footer-links, 
    .canales-atencion, 
    .social-media, 
    .texto-footer {
        flex: 1; /* Mantiene el mismo espacio para cada sección */
        margin: 0 5px; /* Ajuste para mayor separación entre elementos */
    }
  
    .imagenes-container {
        justify-content: space-between;
    }
  
    .imagen-footer {
        width: 30px;
        height: 30px;
    }
  }