body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.caja {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    position: relative; /* Agregar esta línea */
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    overflow: hidden;
}

.image {
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-image {
    width: 100%;
    height: auto;
}

.recipe-info {
    padding: 20px;
}

.recipe-info h2 {
    margin-top: 0;
}

.recipe-info ul {
    list-style: none;
    padding: 0;
}

.recipe-info li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Nuevas reglas para el footer */
.footer {
    background-color: purple; /* Color de fondo morado */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    flex-shrink: 0; /* Evitar que el footer se reduzca */
    position: relative; /* Para que esté bien posicionado */
}

/* Asegurarte que en pantallas pequeñas el footer tenga fondo morado completo */
@media (max-width: 768px) {
    .footer {
        width: 100%; /* Asegura que el footer use todo el ancho */
        position: static; /* Colocarlo de manera que se mantenga al final del contenido */
    }

    .search {
        position: absolute; /* Permitir que esté en la parte superior */
        top: -40px; /* Ajustar según sea necesario para que no interfiera con el contenido */
        left: 0;
        right: 0;
        display: flex;
        justify-content: center; /* Centrar la barra de búsqueda */
    }
}
